  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <img src="../../../assets/images//undraw_my_app_grf2.png" alt="" class="img-fluid">
      </div>
      <div class="col-md-6">
        <div class="container-lg">
          <div class="row xyz">
            <div class="col-md-12">
              <p style="float: right;">lorem</p>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h5>just imagatinatoin value</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-md-10">
                  <mat-card>
                    <div class="media">
                      <img class="mr-3 img-fluid" src="../../../assets/images//portfolio(2).png"
                        alt="Generic placeholder image" style="width: 80px;height: 80px;">
                      <div class="media-body">
                        <h5 class="mt-0">Registration</h5>
                        <button class="btn btn-primary btn-block" [routerLink]="['/account/signup']"
                          routerLinkActive="router-link-active">Registration</button>
                      </div>
                    </div>
                  </mat-card>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row  mt-5 mb-5">
                <div class="col-md-10">
                  <mat-card>
                    <div class="media">
                      <img class="mr-3 img-fluid" src="../../../assets/images//portfolio(2).png"
                        alt="Generic placeholder image" style="width: 80px;height: 80px;">
                      <div class="media-body">
                        <h5 class="mt-0">Login</h5>
                        <button class="btn btn-primary btn-block" [routerLink]="['/account/login']"
                          routerLinkActive="router-link-active">Login</button>
                      </div>
                    </div>
                  </mat-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
