// color set 1
$first-color:#5B5B5B;
$second-color:#AFAFAF;
$third-color:#000000;
$fourth-color:#FFFFFF;

// color set 2

$first-color:#8146A2;
$second-color:#1082DA;
$third-color:#000000;
$fourth-color:#FFFFFF;
